body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
  }
  
  .calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 300px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .button {
    font-size: 24px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  #display {
    grid-column: span 4;
    padding: 10px;
    font-size: 32px;
    text-align: right;
    background-color: black;
    color: white;
  }
  
  #clear {
    background-color: #ff5733; 
    color: white;
  }
  
  #calculate {
    background-color: #eb370f; 
    color: white;
    grid-column: span 2;
  }
  